body {
  background: rgb(2,0,36);
  background: linear-gradient(0deg, rgb(0, 0, 4) 39%, rgb(4, 32, 62) 100%, rgba(0,187,215,1) 100%);
  height: 100vh;
}

.container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

.weatherBox {
  display: flex;
  flex-direction: column;
  background: rgb(255,255,255);
  background: linear-gradient(137deg, rgba(255,255,255,1) 21%, rgb(193, 193, 193) 100%);
  border: 1px solid white;
  width: 380px;
  height: 500px;
  border-radius: 10px;
  box-shadow: 5px 5px 0px 0px rgb(208, 213, 70);
}

.weatherBox--infoContainer{
  display: flex;
  flex-direction: column;
  align-items: flex-start; 
  margin: 30px;
}

.weatherBox--currentLocation {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  font-size: 15px;
  color: rgb(85, 85, 85);
}

.weatherBox--line{
 
  width: 50px;
  height: 5px;
  background-color: rgb(5, 142, 228);
}

.weatherBox--cityName {
  
  font-size: 55px;
  font-weight: bold;
  color: rgb(5, 142, 228);
}

.weatherBox--imgContainer {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.weatherBox--img {
  width: 280px;
}

.weatherBox--temp {
  margin-top: 20px;
  font-size: 23px;
  font-weight: bold;
  color: rgb(3, 99, 158);
}

.weatherBox--description{
  font-size: 20px;
  font-weight: bold;
  color: rgb(3, 99, 158);
  margin: 0;
}

.btn-container{
  margin-top: 30px;
}

.btn-container button {
  margin: 0 5px;
}

.btn-container button:hover {
  cursor: pointer;
  background-color:  rgb(208, 213, 70);
  border: 1px solid transparent;
}